.col-md-3.lu
  ul.nav.nav-tabs
    li.active
      //comment
      a(
        data-target = '#portals'
        data-toggle = 'tab'
        ng-class = '{"active": status === "portals"}'
        ng-click = 'status = "portals";'
      ) Portals
    li
      a(
        data-target = '#links'
        data-toggle = 'tab'
        ng-class = '{"active": status === "links"}'
        ng-click = 'status = "links";'
      ) Links
    li
      a(
        data-target = '#steps'
        data-toggle = 'tab'
        ng-class = '{"active": status === "steps"}'
        ng-click = 'status = "steps";'
      ) Pasos

  .col-md-12
    .tab-content
      #portals.tab-pane.active
        br
        input(type='file', ng-file-select='onFileSelect($files)')
        br
        button.btn.btn.lg.btn-success(
          ng-click = 'addPortal()'
        ) Nuevo Portal
        form(
          ng-hide = 'hideNewportal'
          role='form'
          ng-submit = 'saveNewPortal()'
          novalidate
        )
          .form-group
            label Nombre
            input.form-control(
              type='text'
              placeholder='Nombre del portal'
              ng-model = 'newPortal.name')
          .form-group
            label Latitud
            input.form-control(
              placeholder='latitud'
              type = 'number'
              ng-model = 'newPortal.latitude'
            )
          .form-group
            label Longitud
            input.form-control(
              type = 'number'
              placeholder='latitud'
              ng-model = 'newPortal.longitude'
            )
            p.help-block Buen Ingress
          button.btn.btn-default(
            type='submit' ) Submit

        br
        table.table
          th
            tr
              td Portal
              td Acciones

          tbody
            tr(
              ng-repeat = 'portal in portals'
            )
              td
                input(
                  ng-model = 'portal.title'
                )
              td
                .btn-group
                  button.btn(
                    ng-class = '{"btn-default": !portal.options.draggable, "btn-success": portal.options.draggable}'
                    ng-click = 'portal.options.draggable = !portal.options.draggable;'
                  ) *
                  button.btn.btn-danger(
                    ng-click = 'deletePortal($index)'
                  ) -

      #links.tab-pane
        br
        button.btn.central(
          ng-class = '{"btn-default": !creationForm, "btn-success": creationForm}'
          ng-click = 'creationForm = !creationForm;'
        ) Link don't think
        br
        br
        label.form-control Portal de Salida
        select.form-control(
          ng-model = 'linkOut',
          ng-options = 'portal as portal.title  for portal in portals | orderBy: "title"'
        )
        label.form-control Portal Entrante
        select.form-control(
          ng-model = 'linkIn',
          ng-options = 'portal as portal.title  for portal in portals | orderBy: "title"'
        )
        button.btn.btn.lg.btn-success(
          ng-click = 'addLink()'
        ) Nuevo Link
        br
        h4 Links
        .thumbnail( ng-repeat = 'link in links')
          .caption
            p( ng-bind = ' link.nameLinkOut' )
            p( ng-bind = 'link.nameLinkIn')
            button.btn(
              ng-click = ' invert( link )'
            ) Invertir
            button.btn.btn-danger(
              ng-click = 'deleteLink($index)'
            ) Eliminar -

      #steps.tab-pane
        button.btn.btn-primary(
          ng-click = 'simulateInitialization()'
        ) Simular
        button.btn.btn-danger(
          ng-click = 'stopSimulate()'
        ) Detener
        button.btn.btn-success(
          ng-click = 'generateDocument()'
        ) Generar documento
        .thumbnail( ng-repeat = 'step in steps | orderBy: "order"'
        ( class = '{{ step.type === "comment" && "comment-ribbon" || step.type === "link" && "link-ribbon" || "portal-ribbon"}}'))
          span.pull-right
            label Step
            input.pull-right(
              ng-model = 'step.order'
              type='number')
          p.clearfix
          p( ng-bind = 'step.description')

.col-md-9.yolo
  google-map(center='map.center', zoom='map.zoom', draggable='true', options='options')
    marker(coords='marker.coords', icon='marker.icon', options='marker.options', events='marker.events', idkey='marker.id')
    markers(models='portals', coords='"self"', click='"onClicked"', options='"options"', events='portalsEvents')
    polyline(ng-repeat='p in links', path='p.path', stroke='p.stroke', visible='p.visible', geodesic='p.geodesic', fit='false', editable='p.editable', draggable='p.draggable', icons='p.icons')
    polygon(static='true', ng-repeat='p in controlFields track by p.id', path='p.path', stroke='p.stroke', visible='p.visible', geodesic='p.geodesic', fill='p.fill', fit='false', editable='p.editable', draggable='p.draggable')
